<div class="container">
  <div class="row">
      <div class="col-md-3"></div>
  	<div class="col-md-6">
        <center>
        
            <h1>Form</h1>
            <h3>Edit {{ person.$id }}</h3>
        </center>
        
        <form ng-submit="saveProfile()">
            <div class="form-group">
                
                <label>Name:</label>
                <input type="text" name="name" class="form-control" placeholder="Name" ng-model="person.SName" required ng-blur="upd()">
                <label>Subject</label>
                <select name="subject" class="form-control" ng-model="person.SSubject" required>
                    <option value="C">C</option>
                    <option value="Cplusplus">C++</option>
                    <option value="Corejava">Core Java</option>
                    <option value="Advancejava">Advance Java</option>
                    <option value="WebDesgining">Web Desgining</option>
                    <option value="Angular">Angular Js</option>
                    <option value="Node">Node JS</option>
                    <option value="Meanstack">MEAN Stack</option>
                </select>
                <label>Contact.No:</label>
                <input type="text" name="contact" class="form-control" placeholder="Contact.No" ng-model="person.SContact" required>
                <label>Source:</label>
                <input type="text" name="source" class="form-control" placeholder="Source" ng-model="person.SSource"required >
                <label>Next Call:</label>
                <input type="date" name="nextcall" class="form-control" ng-model="person.SCall" required>
                <input type="text" name="" id="" ng-model="person.age">
                <br>
                <br>
        
        
                <center>
                    <button type="submit" class="btn btn-default">Submit</button>
                </center>
        
        
        
        
        
            </div>
        </form>
</div>
  	<div class="col-md-3">
                    
      </div>



  </div><!--row div-->
  
</div><!--container div-->
<div class="container" ng-if="data">


    <table class="table table-striped table-bordered " >
        <tr>
            <th>Serial.No</th>
            <th>Name</th>
            <th>Contact</th>
            <th>Subject</th>
            <th>Source</th>
            <th>Next</th>
            <th>Age</th>
        </tr>
    
        <tr ng-repeat="student in data">
            
            <th>{{student.Student.SID}}</th>
            <th>{{student.Student.SName }}</th>
            <th>{{student.Student.SContact}}</th>
            <th>{{student.Student.SSubject}}</th>
            <th>{{student.Student.SSource}}</th>
            <th>{{student.Student.date|date:'yyyy-MM-dd'}}</th>
            <th>{{student.Student.age}}</th>
        </tr>
        </center>
    </table>
    
</div>